# Postgres Database
DB_URL=postgresql://epworld:password@db:5432/epworld
POSTGRES_DB=epworld
POSTGRES_USER=epworld
POSTGRES_PASSWORD=password

# JWT Authorization
JWT_SECRET=secret

# Discord Authorization
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_CALLBACK_URL=.../api/auth/login/discord

# Kimustory Authorization
KIMUSTORY_CLIENT_ID=
KIMUSTORY_CLIENT_SECRET=
KIMUSTORY_CALLBACK_URL=h.../api/auth/login/kimustory